@{
    ViewData["Title"] = "Task Page";
}

@model ICollection<TaskItem>

<div class="container">
@if(Model != null)
{  
    <div class="d-flex flex-column gap-5 justify-content-center">
        <h1 class="text-center"> Your Tasks</h1>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Created At</th>
            </tr>

            @foreach (var task in Model)
            {
                var IsCompleted = task.IsCompleted ? "✅" : "❌";
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@IsCompleted</td>
                    <td>@task.CreatedAt</td>
                </tr>
            }
        </table>

        <div>
            <a class="btn btn-primary text-decoration-none" asp-action="Create">Add Task</a>
            <a class="btn btn-secondary text-decoration-none" asp-action="Index" asp-controller="User">Back</a>

        </div>
    </div>
}
    else
    {
        <div>
            <p class="text-black-50">No Tasks</p>
        </div>
    }
</div>

